# CityBikes

## Importing Libraries And Set Working Directory

In [1]:
import pandas as pd
import os # use this to access your environment variables
import requests # this will be used to call the APIs

In [ ]:
os.chdir('C:/Users/Laven/Documents/Data_Analysis/Capstone_Project')

# I Will Look For CityBikes Information In Montreal

In [2]:
# Make the API call
response = requests.get('http://api.citybik.es/v2/networks')

In [3]:
# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    
    # If you want to work with the data in Pandas
    networks = data['networks']
    city_bikes_api_df = pd.DataFrame(networks)
    print("We got a reponse")  # This will print the first few rows of the DataFrame
else:
    print("Failed to retrieve data: Status code", response.status_code)

We got a reponse

In [4]:
print(city_bikes_api_df)

                                      company  \
0                            [ЗАО «СитиБайк»]
1                         [Comunicare S.r.l.]
2                        [Cyclopolis Systems]
3                        [Cyclopolis Systems]
4                         [Comunicare S.r.l.]
..                                        ...
765                          [西安城市公共自行车服务管理有]
766            [FAST RENT BIKE (PG) Sdn. Bhd]
767  [Sejong City Transportation Corporation]
768                           [Changwon City]
769                             [NS Groep NV]

                                                  href  \
0                         /v2/networks/velobike-moscow
1                        /v2/networks/bicincitta-siena
2                     /v2/networks/cyclopolis-maroussi
3                      /v2/networks/cyclopolis-nafplio
4    /v2/networks/bicincitta-parco-dei-colli-di-ber...
..                                                 ...
765                   /v2/networks/xian-public-bicycle
766                       /v2/networks/linkbike-penang
767                       /v2/networks/eoulling-sejong
768                       /v2/networks/nubija-changwon
769                              /v2/networks/ov-fiets

                                        id  \
0                          velobike-moscow
1                         bicincitta-siena
2                      cyclopolis-maroussi
3                       cyclopolis-nafplio
4    bicincitta-parco-dei-colli-di-bergamo
..                                     ...
765                    xian-public-bicycle
766                        linkbike-penang
767                        eoulling-sejong
768                        nubija-changwon
769                               ov-fiets

                                              location                  name  \
0    {'city': 'Moscow', 'country': 'RU', 'latitude'...              Velobike
1    {'city': 'Siena', 'country': 'IT', 'latitude':...            Bicincittà
2    {'city': 'Maroussi', 'country': 'GR', 'latitud...            Cyclopolis
3    {'city': 'Nafplio', 'country': 'GR', 'latitude...            Cyclopolis
4    {'city': 'Parco dei Colli di Bergamo', 'countr...            Bicincittà
..                                                 ...                   ...
765  {'city': '西安 (Xi'an)', 'country': 'CN', 'latit...  Xi'an Public Bicycle
766  {'city': 'Penang', 'country': 'MY', 'latitude'...              LinkBike
767  {'city': '세종 (Sejong)', 'country': 'KR', 'lati...        어울링 (Eoulling)
768  {'city': '창원시 (Changwon)', 'country': 'KR', 'l...          누비자 (Nubija)
769  {'city': 'Nederland', 'country': 'NL', 'latitu...              OV-fiets

                                                source gbfs_href license  \
0                                                  NaN       NaN     NaN
1    https://www.bicincitta.com/frmLeStazioni.aspx?...       NaN     NaN
2                                                  NaN       NaN     NaN
3                                                  NaN       NaN     NaN
4    https://www.bicincitta.com/frmLeStazioni.aspx?...       NaN     NaN
..                                                 ...       ...     ...
765                                                NaN       NaN     NaN
766                                                NaN       NaN     NaN
767                                                NaN       NaN     NaN
768                                                NaN       NaN     NaN
769                           https://apiportal.ns.nl/       NaN     NaN

    ebikes
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
..     ...
765    NaN
766    NaN
767    NaN
768    NaN
769    NaN

[770 rows x 9 columns]

In [5]:
type(city_bikes_api_df)

pandas.core.frame.DataFrame

In [6]:
city_bikes_api_df.shape

(770, 9)

In [7]:
city_bikes_api_df.head()

,company,href,id,location,name,source,gbfs_href,license,ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,"{'city': 'Moscow', 'country': 'RU', 'latitude'...",Velobike,NaN,NaN,NaN,NaN
1,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,"{'city': 'Siena', 'country': 'IT', 'latitude':...",Bicincittà,https://www.bicincitta.com/frmLeStazioni.aspx?...,NaN,NaN,NaN
2,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,"{'city': 'Maroussi', 'country': 'GR', 'latitud...",Cyclopolis,NaN,NaN,NaN,NaN
3,[Cyclopolis Systems],/v2/networks/cyclopolis-nafplio,cyclopolis-nafplio,"{'city': 'Nafplio', 'country': 'GR', 'latitude...",Cyclopolis,NaN,NaN,NaN,NaN
4,[Comunicare S.r.l.],/v2/networks/bicincitta-parco-dei-colli-di-ber...,bicincitta-parco-dei-colli-di-bergamo,"{'city': 'Parco dei Colli di Bergamo', 'countr...",Bicincittà,https://www.bicincitta.com/frmLeStazioni.aspx?...,NaN,NaN,NaN

In [8]:
#Inspecting the location. Theyre stored as dictionaries.

city_bikes_api_df['location']

0      {'city': 'Moscow', 'country': 'RU', 'latitude'...
1      {'city': 'Siena', 'country': 'IT', 'latitude':...
2      {'city': 'Maroussi', 'country': 'GR', 'latitud...
3      {'city': 'Nafplio', 'country': 'GR', 'latitude...
4      {'city': 'Parco dei Colli di Bergamo', 'countr...
                             ...
765    {'city': '西安 (Xi'an)', 'country': 'CN', 'latit...
766    {'city': 'Penang', 'country': 'MY', 'latitude'...
767    {'city': '세종 (Sejong)', 'country': 'KR', 'lati...
768    {'city': '창원시 (Changwon)', 'country': 'KR', 'l...
769    {'city': 'Nederland', 'country': 'NL', 'latitu...
Name: location, Length: 770, dtype: object

In [9]:
# Normalize the location data and create a new DataFrame
locations_df = pd.json_normalize(city_bikes_api_df['location'])

# Print the new DataFrame to see all location information as separate columns
locations_df

                           city country   latitude   longitude
0                        Moscow      RU  55.750000   37.616667
1                         Siena      IT  43.318600   11.330600
2                      Maroussi      GR  38.056872   23.808330
3                       Nafplio      GR  37.563940   22.809340
4    Parco dei Colli di Bergamo      IT  45.722956    9.649230
..                          ...     ...        ...         ...
765                  西安 (Xi'an)      CN  34.268800  108.945800
766                      Penang      MY   5.419200  100.328100
767                 세종 (Sejong)      KR  36.490100  127.282900
768              창원시 (Changwon)      KR  35.223691  128.670599
769                   Nederland      NL  52.144900    5.560300

[770 rows x 4 columns]

In [10]:
# Split the original DataFrame into two parts: one with the first three columns, and one with the rest
first_part = city_bikes_api_df.iloc[:, :3]
second_part = city_bikes_api_df.iloc[:, 3:]

In [11]:
#Concatenating these two data frames:

city_bikes_api_df = pd.concat([first_part, locations_df, second_part], axis=1)

In [12]:
#dropping the original "location" column:

city_bikes_api_df = city_bikes_api_df.drop('location', axis=1)

In [13]:
city_bikes_api_df

,company,href,id,city,country,latitude,longitude,name,source,gbfs_href,license,ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,Moscow,RU,55.750000,37.616667,Velobike,NaN,NaN,NaN,NaN
1,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,Siena,IT,43.318600,11.330600,Bicincittà,https://www.bicincitta.com/frmLeStazioni.aspx?...,NaN,NaN,NaN
2,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,Maroussi,GR,38.056872,23.808330,Cyclopolis,NaN,NaN,NaN,NaN
3,[Cyclopolis Systems],/v2/networks/cyclopolis-nafplio,cyclopolis-nafplio,Nafplio,GR,37.563940,22.809340,Cyclopolis,NaN,NaN,NaN,NaN
4,[Comunicare S.r.l.],/v2/networks/bicincitta-parco-dei-colli-di-ber...,bicincitta-parco-dei-colli-di-bergamo,Parco dei Colli di Bergamo,IT,45.722956,9.649230,Bicincittà,https://www.bicincitta.com/frmLeStazioni.aspx?...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
765,[西安城市公共自行车服务管理有],/v2/networks/xian-public-bicycle,xian-public-bicycle,西安 (Xi'an),CN,34.268800,108.945800,Xi'an Public Bicycle,NaN,NaN,NaN,NaN
766,[FAST RENT BIKE (PG) Sdn. Bhd],/v2/networks/linkbike-penang,linkbike-penang,Penang,MY,5.419200,100.328100,LinkBike,NaN,NaN,NaN,NaN
767,[Sejong City Transportation Corporation],/v2/networks/eoulling-sejong,eoulling-sejong,세종 (Sejong),KR,36.490100,127.282900,어울링 (Eoulling),NaN,NaN,NaN,NaN
768,[Changwon City],/v2/networks/nubija-changwon,nubija-changwon,창원시 (Changwon),KR,35.223691,128.670599,누비자 (Nubija),NaN,NaN,NaN,NaN
769,[NS Groep NV],/v2/networks/ov-fiets,ov-fiets,Nederland,NL,52.144900,5.560300,OV-fiets,https://apiportal.ns.nl/,NaN,NaN,NaN

In [14]:
#Inspecting for cities
city_bikes_api_df['city'].unique()

array(['Moscow', 'Siena', 'Maroussi', 'Nafplio',
       'Parco dei Colli di Bergamo', 'Aigialeia', 'Marathon', 'Mantova',
       'Νea Smyrni', 'Μoschato-Tavros', 'Αrxaia Olympia', 'Kιato',
       'Assemini', 'Rhodes', 'Florina', 'Tortolì', 'Limnos', 'Gaeta',
       'Borgarello', 'Pizzighettone e Formigara', 'Cork', 'Limerick',
       'Bangkok', 'Galway', 'Montecatini Terme', 'Bydgoszcz', 'London',
       'Aspen, CO', 'Carrara', 'Hamburg', 'Sestri Levante - Lavagna',
       'Arezzo', 'Astana', 'Paris', 'Ascoli Piceno', 'Bergamo', 'Girona',
       'Alba', 'Milano', 'Biella', 'Chivasso', 'Zaragoza', 'Cd de México',
       'Busto Arsizio', 'Antwerpen', 'Cuneo', 'Malmö', 'Madrid',
       'Didymoteicho', 'Frosinone', 'Glyfada', 'Igoumenitsa', 'Lecce',
       'Ioannina', 'Karditsa', 'Manerba del Garda', 'Kinouria',
       'Komotini', 'Patra', 'Marciana Marina', 'Rethymno', 'Samos',
       'Novara', 'Mani', 'Irakleio', 'Thessaloniki', 'Athens', 'Padova',
       'A Coruña', 'Ferrol - Narón', 'Ferrara', 'Montréal, QC', 'Parma',
       'Toronto, ON', 'Hamilton, ON', 'Pavia', 'Perugia', 'Austin, TX',
       'Chattanooga, TN', 'Piacenza', 'Pinerolo', 'Portland, OR',
       'Reggio Emilia', 'Boulder, CO', 'Rimini', 'Fort Lauderdale, FL',
       'Milwaukee, WI', 'Buffalo, NY', 'Washington, DC', 'Charlotte, NC',
       'Saluzzo', 'Cincinnati, OH', 'Savigliano', 'New York, NY', 'Terni',
       'Columbus, OH', 'Denver, CO', 'Chicago, IL', 'Tirano',
       'El Paso, TX', 'Fort Worth, TX', 'Udine', 'Salt Lake City',
       'Omaha, NE', 'Houston, TX', 'Boston, MA', 'Ustica',
       'Philadelphia, PA', 'Indianapolis, IN', 'Como', 'Madison, WI',
       'Los Angeles, CA', 'La Spezia', 'San Antonio, TX', 'Venezia',
       'Long Beach, CA', 'Torino', 'Atlanta, GA', 'Recife', 'São Paulo',
       'Rio de Janeiro', 'Salvador', 'Porto Alegre', 'Guadalajara',
       'Valence', 'Santiago', 'Oslo', 'Bergen', 'Trondheim', 'Rennes',
       'Bordeaux', 'Lille', 'Pau', 'Pisa', 'Murcia',
       'Vilagarcía de Arousa', 'Cagliari', 'Buenos Aires', 'Lisbon',
       'Varese', 'Toulouse', 'Luxembourg', 'Valencia', 'Sellero', 'Lund',
       'Ugento', 'Amiens', 'Lillestrøm', 'Mulhouse', 'Prata Camportaccio',
       'Lyon', 'Ljubljana', 'Civitavecchia', 'Sevilla',
       'Barcellona Pozzo di Gotto', 'Namur', 'Nancy', 'Créteil',
       'Bruxelles', "Cassano d'Adda", 'Cergy', 'Vilnius', '富山市',
       'Bianzone', 'Marseille', 'Nantes', 'Besançon', 'Rieti', 'Dublin',
       'Palma', 'Castellucchio', 'Nice', 'Noto', 'Enna', 'Pordenone',
       'Calais', 'Carbonia', 'Cluj-Napoca', 'Sorocaba', 'Cremona',
       'Riviera de São Lourenço', 'Trento', 'Barcelona', 'Antalya',
       'Izmir', 'Rovereto', 'Istanbul', 'Kocaeli', 'Helsinki', 'Monopoli',
       'Turku', 'Brescia', "Tel Aviv-Yaffo, Giv'atayim, Ramat-Gan",
       'Andria', 'Bratislava', 'Wageningen', 'Prešov', 'Quartucciu',
       'Medellin', 'Olbia', 'Vancouver', 'Savona', 'Clermont-Ferrand',
       'Saint-Étienne', 'Brindisi', 'Avignon', 'Batumi', 'Tradate',
       'Jesi', 'Pamplona', 'Brasília', 'Treviso', 'Fortaleza', 'Sondrio',
       'Santos', 'Vercelli',
       'Santa Margherita Ligure - Portofino - Camogli', 'Rosario',
       'Cernusco sul Naviglio - Pioltello - Carugate', 'Des Moines, IA',
       'Santa Maria Maggiore - Malesco - Villette', 'Greenville, SC',
       'Mezzolombardo', 'Scafati', 'Livorno', 'Forlì',
       'Rivarolo Canavese', 'Monserrato', 'Mezzocorona',
       'San Lazzaro di Savena', 'San Teodoro',
       'Parco Naturale Molentargius - Saline',
       'Parco Nazionale del Gargano', 'Gallipoli',
       'Castel Guelfo di Bologna', "San Michele All'adige", 'Modena',
       'Brancaleone', 'Scandiano', 'Elmas', 'TV', 'Acquaviva delle fonti',
       'Lodi', 'Acquarica del Capo', 'Vicolungo', 'Porto Torres',
       'Cisterna di Latina', 'Casaletto Spartano', 'Selargius', 'Monza',
       'Morigerati', 'San Donato Milanese', 'Parco Nazionale del Circeo',
       'Cesena', 'Lecco', 'Alghero', 'San Giovanni in Persiceto',
       'Parco naturale Migliarino San Rossore Massaciuccoli', 'Treviglio',
       'Lavis', 'Ente Parco Montemarcello Magra', 'Schio', 'Imola',
       'Leipzig', 'Wiesbaden', 'Frankfurt', 'Köln', 'Karlsruhe',
       'Neusiedler See', 'Düsseldorf', 'St.Pölten', 'Mödling', 'Sursee',
       'Luzern', 'Rīga', 'Dortmund', 'Bochum', 'Bottrop', 'Duisburg',
       'Essen', 'Gelsenkirchen', 'Hamm', 'Herne', 'Mülheim a.d.R.',
       'Oberhausen', 'Wachau', 'Tulln', 'Thermenregion', 'Wrocław',
       'Offenburg', 'Wr.Neustadt', 'Potsdam', 'Gütersloh', '10vorWien',
       'Usedom', 'Norderstedt', 'Augsburg', 'Limassol', 'Christchurch',
       'Heidelberg', 'Mannheim', 'Innsbruck', 'Nicosia', 'Hollabrunn',
       'WienerWald', 'Zagreb', 'Glasgow', 'Belfast', 'Stirling',
       'Šibenik', 'Lublin', 'Ludwigshafen', 'Speyer', 'Lviv', 'Würzburg',
       'Serfaus', 'Malta', 'Karlovac', 'Slavonski Brod', 'Milton Keynes',
       'Hergiswil', 'Makarska', 'Brinje', 'Zadar', 'Bensheim',
       'Ivanic Grad', 'Sarajevo', 'Exeter', 'Auckland Waterfront',
       'Berlin', 'Bremen', 'Worms', 'Stans', 'Stansstad', 'Horw',
       'Bürstadt', 'Groß Enzersdorf', 'Klagenfurt', 'Kaiserslautern',
       'Las Palmas de Gran Canaria', 'Velika Gorica', 'Sisak', 'Metković',
       'Jastrebarsko', 'Drniš', 'Tuzla', 'Nitra', 'Marburg', 'Budapest',
       'Rüsselsheim am Main', 'Heppenheim', 'Kassel', 'Sarnen',
       'Wolfenschiessen', 'Oberdorf', 'Gießen', 'Weinheim', 'Cardiff',
       'Hockenheim', 'Schwetzingen', 'Ennetmoos', 'Eppelheim', 'Surrey',
       'Swansea', 'Erfurt', 'Banja Luka', 'Lahr', 'Odessa',
       'Mönchengladbach', 'Celje', 'Bilbao', 'Laško', 'Lippstadt',
       'Žilina', 'Vinnytsia', 'Bonn', 'Koluszki', 'Łask', 'Łowicz',
       'Pabianice', 'Sieradz', 'Skierniewice', 'Zduńska Wola', 'Zgierz',
       'Kutno', 'Łódź', 'Freiburg', 'Trieste', 'Dresden', 'Murmansk',
       'Nizhniy Novgorod', 'Ivano Frankivsk', 'Almaty', 'Shymkent',
       'San Francisco Bay Area, CA', 'Vannes', 'Monaco',
       'Tarbes, Lourdes', 'Reims', 'Bourg-en-Bresse', 'Niort',
       'Marseillan', "Val d'Ille-Aubigné", 'Saint-Nazaire', 'Laon',
       'La Baule-Escoublac', 'Troyes', 'Agen',
       "Communauté d'agglomération Seine-Eure", 'Soissons',
       'La Chantrerie, Nantes', 'Esch-sur-alzette', 'Wien', 'Verona',
       'Kiel', 'Montpellier', 'Las Vegas, NV', 'León', 'Strasbourg',
       'Belfort', 'Prostejov', 'Focșani', 'Vukovar', 'Zaprešić',
       'Brunel University', 'Pobiedziska', 'Piotrków Trybunalski',
       'Walldorf', 'Pitomača', 'Pielgrzymka', 'RVK e-Bike', 'Leverkusen',
       'Gran Canaria', 'Lanzarote', 'Fuerteventura', 'Nürnberg', 'Split',
       'Solin', 'Općina Klis', 'Općina Hrvace', 'Općina Otok Dalmatinski',
       'Sinj', 'Podstrana', 'Trogir', 'Ostrava', 'Hlučín', 'Vřesina',
       'Ibiza-City', 'Hannover', 'Komorniki', 'Havířov', 'Berounsko',
       'Graben', 'Olesno', 'Göteborg', 'Braunschweig', 'Brno', 'Kuřim',
       'Praha', 'Říčany', 'Olomouc', 'Kladno', 'Opava', 'Bielefeld',
       'San Luis Potosi', 'Cancún', 'Bergisches e-Bike', 'Pardubice',
       'Hradec Králové', 'Mladá Boleslav', 'Mnichovo Hradiště',
       'Bad Oeynhausen', 'RSVG', 'Linz', 'Drobeta', 'Nova Gorica',
       'Saturn', 'Frýdek-Místek', 'Uherské Hradiště', 'Zlín', 'Krnov',
       'Eifel e-Bike', 'Rychnovsko', 'Písek', 'Jihlava',
       'Zagorje ob Savi', 'Sokołów Podlaski', 'Osijek', 'Scandicci',
       'Oldenburg', 'Urdaibai', 'MV-Rad', 'Anklam',
       'Greifswald (StadtRad)', 'Dvůr Králové', 'Kufstein', 'Ellmau',
       'Chełm', 'Vrchlabí', 'Winsen (Luhe)', 'Portorož',
       'Landau in der Pfalz', 'Aachen', 'Québec', 'Saguenay', 'Epinal',
       'Saint-Brieuc', 'Gent', 'Maribor', 'Zürich', 'Nyon', 'Bern',
       'Lugano', 'Fribourg', 'Lausanne', 'Rouen', 'Waterford', 'Loutraki',
       'Edessa', 'Syros', 'Chania', 'Toruń', 'Gijón', 'Auxerre', 'Genova',
       'Badalona', 'Cornellà de Llobregat', 'Santa Coloma de Gramenet',
       'El Prat de Llobregat', 'Castelldefels', 'Viladecans', 'Gavà',
       'Esplugues de Llobregat', 'Sant Joan Despí', 'Molins de Rei',
       'Sant Just Desvern', 'Sant Boi de Llobregat', 'Hanau',
       'Stari Grad', 'REVG', 'Erkelenz', 'Geilenkirchen', 'Heinsberg',
       'Hückelhoven', 'Wegberg', 'Grünheide (Mark)', 'Gorizia', 'Mainz',
       'Warsaw', 'Dijon', 'Caen', 'Orléans', 'Laval', 'Miami, FL',
       'Montesilvano', 'Taranto', 'Monteriggioni', 'Massa',
       'Campoo de Enmedio', 'A Illa de Arousa', 'Aller', 'Albacete',
       'Alcázar de San Juan', 'Valletta - Malta - Gozo', 'Tucson, AZ',
       'Prerov', 'Tokyo', 'Getafe', 'Avilés', 'Caldas de Reis', 'Badajoz',
       'Burgos', 'Rivas-Vaciamadrid', 'Castelló de la Plana', 'Mislata',
       'Almeirim', 'Rio Maior', 'Figueira da Foz', 'Park City, UT',
       'Richmond, VA', 'Valladolid', 'Valencia, área metropolitana',
       'Logroño', 'Elx', 'Bogotá', 'Curitiba', 'Nordelta', 'Quito',
       'Lima', 'Skrova', 'Sant Vicent del Raspeig',
       'Donostia/San Sebastián', 'Bolzano', 'München', 'Darmstadt',
       'Lüneburg', 'Stuttgart', 'Landernau', 'Genève', 'Kreuzlingen',
       'Le Locle', 'Neuchâtel', 'Thun', 'Yverdon-les-Bains',
       "Les Sables d'Olonne", 'Carcassonne',
       'Ligne TER Royan - Angoulême', 'Erandio', 'getxo', 'Leioa',
       'Santurtzi', 'Barakaldo', 'Sestao', 'Portugalete', 'Berango',
       'Rogaland', 'Honolulu', 'Kailua-Kona',
       'Bournemouth, Christchurch and Poole', 'Brighton', 'Cornwall',
       'Greater Manchester', 'Hackney', 'Hereford', 'Hertsmere',
       'Isle of Wight', 'Leeds', 'Norwich', 'Plymouth', 'Portsmouth',
       'Southampton', 'Watford', 'Westminster', 'West Midlands', 'Wool',
       'Cuenca', 'Brive-la-Gaillarde', 'Pointe-à-Pitre',
       'Ardenne Métropole', 'Grand Périgueux', 'Cholet',
       'Argelès-sur-Mer', 'Mendoza', 'Passo Fundo', 'Cascavel',
       'La Rochelle', 'Reus', 'Boadilla del Monte', 'Arteixo', 'Vitória',
       'Seoul', 'Dubai', 'Abu Dhabi', 'Medina', 'Aveiro',
       '新竹縣 Hsinchu County', '新北市 New Taipei', '桃園市 Taoyuan City',
       '台北市 Taipei City', '新竹市 Hsinchu City', '臺中市 Taichung City',
       '新竹科學工業園區 Hsinchu Science Park', '台灣 Miaoli County',
       '台灣 Chiayi City', '臺南市 Tainan City', '高雄市 Kaohsiung City',
       '屏東縣 Pingtung County', 'Santiago de Querétaro', 'Paris Sud',
       'Aventura, FL', 'Bentonville, AR', 'Bismarck, ND',
       'Clarksville, TN', 'Encinitas, CA', 'Jackson, MI', 'Lincoln, NE',
       'Memphis, TN', 'Nashville, TN', 'Redding, CA', 'Santa Barbara, CA',
       'Santa Cruz, CA', 'Valentine, NE', 'McAllen, TX', 'Clemson, SC',
       'New York', '茨城県 (Ibaraki)', '岩手県 (Iwate)', '栃木県 (Tochigi)',
       '埼玉県 (Saitama)', '東京都 (Tokyo)', '千葉県 (Chiba)', '神奈川県 (Kanagawa)',
       '岐阜県 (Gifu)', '静岡県 (Shizuoka)', '愛知県 (Aichi)', '長野県 (Nagano)',
       '大阪府 (Osaka)', '京都府 (Kyoto)', '兵庫県 (Hyougo)', '奈良県 (Nara)',
       '香川県 (Kagawa)', '愛媛県 (Ehime)', '広島県 (Hiroshima)', '福岡県 (Fukuoka)',
       '佐賀県 (Saga)', '熊本県 (Kumamoto)', '沖縄県 (Okinawa)', 'Stony Brook',
       'Eugene, OR', 'Detroit, MI', 'Aruba', 'Sibiu', 'Beaverton, OR',
       'Sântana', 'Famagusta', 'Ontinyent', '阿克苏市 (Aksu City)',
       '奎屯市 (Kuitun)', '阿拉尔市 (Aral)', 'Península de Papagayo',
       'Inverness', 'Fort William', 'Pittsburgh, PA', '岡山県 (Okayama)',
       '兵庫県 (Hyōgo)', '滋賀県 (Shiga)', '石川県 (Ishikawa)', '福井県 (Fukui)',
       '山梨県 (Yamanashi)', '新潟県 (Niigata)', '茨城県 (Miyagi)', '大分県 (Ōita)',
       '鹿児島県 (Kagoshima)', '대전 (Daejeon)', '莆田市 (Putian City)', 'Brest',
       'Santander', 'Moradabad', 'Rajarhat New Town', 'Ranchi',
       'Bilaspur', 'Prayagraj', 'Bhopal', 'Srinagar', 'Surat',
       "西安 (Xi'an)", 'Penang', '세종 (Sejong)', '창원시 (Changwon)',
       'Nederland'], dtype=object)

In [15]:
city_bikes_api_df['city'].nunique()

750

## Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [17]:
# Filter the DataFrame for rows where "City" is "Montreal" and "Country" is "CA"
montreal_citybikes_df = city_bikes_api_df[(city_bikes_api_df['city'] == 'Montréal, QC') & (city_bikes_api_df['country'] == 'CA')]

montreal_citybikes_df

,company,href,id,city,country,latitude,longitude,name,source,gbfs_href,license,ebikes
71,"[Motivate International, Inc., PBSC Urban Solu...",/v2/networks/bixi-montreal,bixi-montreal,"Montréal, QC",CA,45.508693,-73.553928,Bixi,NaN,https://gbfs.velobixi.com/gbfs/gbfs.json,NaN,True

In [18]:
#I see what's going on. Every row in the original data frame that I derived from the API points to a different URL on GBFS.
#Google says GBFS stands for General Bikeshare Feed Specification

In [19]:
# URL pointing to the GBFS JSON feed for montreal
montreal_url = 'https://gbfs.velobixi.com/gbfs/gbfs.json'

In [20]:
# Make the request to get the GBFS data
response_mon = requests.get(montreal_url)

In [21]:
# Check if the request was successful
if response_mon.status_code == 200:
    gbfs_data_montreal = response_mon.json()
    gbfs_feeds_montreal = gbfs_data_montreal['data']['en']['feeds']
    gbfs_df_montreal = pd.DataFrame(gbfs_feeds_montreal)
    print(gbfs_df_montreal)
else:
    print("Failed to retrieve data: Status code", response.status_code)

                  name                                                url
0  station_information  https://gbfs.velobixi.com/gbfs/en/station_info...
1        system_alerts  https://gbfs.velobixi.com/gbfs/en/system_alert...
2   system_information  https://gbfs.velobixi.com/gbfs/en/system_infor...
3       station_status  https://gbfs.velobixi.com/gbfs/en/station_stat...

In [22]:
gbfs_df_montreal['url'][0]

'https://gbfs.velobixi.com/gbfs/en/station_information.json'

In [23]:
gbfs_df_montreal['url'][2]

'https://gbfs.velobixi.com/gbfs/en/system_information.json'

In [24]:
#getting the URLs for the jsons about the stations

mon_station_status_url = "https://gbfs.velobixi.com/gbfs/en/station_status.json"
mon_station_info_url = "https://gbfs.velobixi.com/gbfs/en/station_information.json"

In [25]:
# Make the request to get the GBFS data for mon station status
response_station_status = requests.get(mon_station_status_url)

# Make the request to get the GBFS data for mon station info
response_station_info = requests.get(mon_station_info_url)

In [26]:
# Check if the request was successful for station status
if response_station_status.status_code == 200:
    gbfs_data_montreal_station_status = response_station_status.json()
    gbfs_feeds_montreal_station_status = gbfs_data_montreal_station_status['data']['stations']
    station_status_df_montreal = pd.DataFrame(gbfs_feeds_montreal_station_status)
    print(station_status_df_montreal)
else:
    print("Failed to retrieve data: Status code", response.status_code)

    station_id  num_bikes_available  num_ebikes_available  num_bikes_disabled  \
0            1                   12                     0                   0
1            3                    5                     0                   0
2           11                   11                     0                   0
3           15                    8                     0                   0
4           19                    2                     0                   0
..         ...                  ...                   ...                 ...
174        850                    2                     0                   0
175        873                   16                     0                   0
176        886                    8                     0                   0
177        888                   13                     0                   0
178        933                    0                     0                   0

     num_docks_available  num_docks_disabled  is_installed  is_renting  \
0                     23                   0             1           1
1                     14                   0             1           1
2                     12                   0             1           1
3                     18                   0             1           1
4                     25                   0             1           1
..                   ...                 ...           ...         ...
174                    9                   0             1           1
175                   17                   0             1           1
176                   20                   1             1           1
177                   28                   0             1           1
178                    0                   0             0           1

     is_returning  last_reported  eightd_has_available_keys  is_charging
0               1     1710974664                      False        False
1               1     1710975269                      False        False
2               1     1710971993                      False        False
3               1     1710975429                      False        False
4               1     1710976014                      False        False
..            ...            ...                        ...          ...
174             1     1710976184                      False         True
175             1     1710975930                      False         True
176             1     1710976034                      False         True
177             1     1710976126                      False         True
178             1          86400                      False        False

[179 rows x 12 columns]

In [28]:
station_status_df_montreal

,station_id,num_bikes_available,num_ebikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,is_installed,is_renting,is_returning,last_reported,eightd_has_available_keys,is_charging
0,1,4,0,0,31,0,1,1,1,1710051143,False,False
1,3,3,0,0,16,0,1,1,1,1710090037,False,False
2,11,2,0,0,21,0,1,1,1,1710089682,False,False
3,15,4,0,0,22,0,1,1,1,1710087463,False,False
4,19,9,0,0,18,0,1,1,1,1710088461,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
156,848,11,0,0,8,0,1,1,1,1710090496,False,True
157,850,3,0,0,8,0,1,1,1,1710090569,False,True
158,873,12,0,0,20,1,1,1,1,1710090739,False,True
159,886,21,0,0,8,0,1,1,1,1710090556,False,True
160,888,10,0,1,30,0,1,1,1,1710090756,False,True

In [27]:
# Check if the request was successful for station information
if response_station_info.status_code == 200:
    gbfs_data_montreal_station_info = response_station_info.json()
    gbfs_feeds_montreal_station_info = gbfs_data_montreal_station_info['data']['stations']
    station_info_df_montreal = pd.DataFrame(gbfs_feeds_montreal_station_info)
    print(station_info_df_montreal)
else:
    print("Failed to retrieve data: Status code", response.status_code)

    station_id                           external_id  \
0            1  0b0fda98-08f3-11e7-a1cb-3863bb33a4e4
1            3  0b0fe114-08f3-11e7-a1cb-3863bb33a4e4
2           11  0b0ff3ef-08f3-11e7-a1cb-3863bb33a4e4
3           15  0b0ffa68-08f3-11e7-a1cb-3863bb33a4e4
4           19  0b100002-08f3-11e7-a1cb-3863bb33a4e4
..         ...                                   ...
174        850  3488ef16-7ac6-4f37-831d-e037ad6e4186
175        873  68e18dde-1035-418e-92d1-05b9a3353202
176        886  0aace254-e55d-458a-8cb3-db7e6e3192de
177        888  4e25443f-9edb-449e-afa3-9500780f10af
178        933  c08c0a73-151f-4157-8aaf-2842cdd527c5

                                                name short_name        lat  \
0            Métro Champ-de-Mars (Viger / Sanguinet)       6001  45.510253
1                                    Clark / Ontario       6003  45.510599
2                   de la Porte de Québec / St-André       6011  45.513294
3                          St-Denis / de Maisonneuve       6015  45.514339
4               Métro Sherbrooke (de Rigaud / Berri)       6019  45.518143
..                                               ...        ...        ...
174                            de Chambly / de Rouen       8118  45.547103
175                  Robert-Bourassa / René-Lévesque       8093  45.502183
176                         Molson / Wiliam-Tremblay       8123  45.541603
177  Complexe Desjardins (St-Urbain / René-Lévesque)       8137  45.507885
178                                             8178       8178   0.000000

           lon     rental_methods  capacity  electric_bike_surcharge_waiver  \
0   -73.556777  [CREDITCARD, KEY]        35                           False
1   -73.566925  [CREDITCARD, KEY]        19                           False
2   -73.550578  [CREDITCARD, KEY]        23                           False
3   -73.561685  [CREDITCARD, KEY]        26                           False
4   -73.568004  [CREDITCARD, KEY]        27                           False
..         ...                ...       ...                             ...
174 -73.548924  [CREDITCARD, KEY]        11                           False
175 -73.568254  [CREDITCARD, KEY]        33                           False
176 -73.564961  [CREDITCARD, KEY]        29                           False
177 -73.563151  [CREDITCARD, KEY]        41                           False
178   0.000000  [CREDITCARD, KEY]         0                           False

     is_charging  eightd_has_key_dispenser  has_kiosk
0          False                     False       True
1          False                     False       True
2          False                     False       True
3          False                     False       True
4          False                     False       True
..           ...                       ...        ...
174         True                     False       True
175         True                     False       True
176         True                     False       True
177         True                     False       True
178        False                     False       True

[179 rows x 12 columns]

In [28]:
station_info_df_montreal

,station_id,external_id,name,short_name,lat,lon,rental_methods,capacity,electric_bike_surcharge_waiver,is_charging,eightd_has_key_dispenser,has_kiosk
0,1,0b0fda98-08f3-11e7-a1cb-3863bb33a4e4,Métro Champ-de-Mars (Viger / Sanguinet),6001,45.510253,-73.556777,"[CREDITCARD, KEY]",35,False,False,False,True
1,3,0b0fe114-08f3-11e7-a1cb-3863bb33a4e4,Clark / Ontario,6003,45.510599,-73.566925,"[CREDITCARD, KEY]",19,False,False,False,True
2,11,0b0ff3ef-08f3-11e7-a1cb-3863bb33a4e4,de la Porte de Québec / St-André,6011,45.513294,-73.550578,"[CREDITCARD, KEY]",23,False,False,False,True
3,15,0b0ffa68-08f3-11e7-a1cb-3863bb33a4e4,St-Denis / de Maisonneuve,6015,45.514339,-73.561685,"[CREDITCARD, KEY]",26,False,False,False,True
4,19,0b100002-08f3-11e7-a1cb-3863bb33a4e4,Métro Sherbrooke (de Rigaud / Berri),6019,45.518143,-73.568004,"[CREDITCARD, KEY]",27,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
174,850,3488ef16-7ac6-4f37-831d-e037ad6e4186,de Chambly / de Rouen,8118,45.547103,-73.548924,"[CREDITCARD, KEY]",11,False,True,False,True
175,873,68e18dde-1035-418e-92d1-05b9a3353202,Robert-Bourassa / René-Lévesque,8093,45.502183,-73.568254,"[CREDITCARD, KEY]",33,False,True,False,True
176,886,0aace254-e55d-458a-8cb3-db7e6e3192de,Molson / Wiliam-Tremblay,8123,45.541603,-73.564961,"[CREDITCARD, KEY]",29,False,True,False,True
177,888,4e25443f-9edb-449e-afa3-9500780f10af,Complexe Desjardins (St-Urbain / René-Lévesque),8137,45.507885,-73.563151,"[CREDITCARD, KEY]",41,False,True,False,True
178,933,c08c0a73-151f-4157-8aaf-2842cdd527c5,8178,8178,0.000000,0.000000,"[CREDITCARD, KEY]",0,False,False,False,True

In [29]:
# Select only the columns we are interested in from both DataFrames
station_status_df2 = station_status_df_montreal[['station_id', 'num_bikes_available']]
station_info_df2 = station_info_df_montreal[['station_id', 'name', 'lat', 'lon']]

In [31]:
#complete_montreal_dataframe
complete_citybikes_df = pd.merge(station_status_df2, station_info_df2, on='station_id', how='inner')

## Put your parsed results into a DataFrame.

In [32]:
complete_citybikes_df

,station_id,num_bikes_available,name,lat,lon
0,1,12,Métro Champ-de-Mars (Viger / Sanguinet),45.510253,-73.556777
1,3,5,Clark / Ontario,45.510599,-73.566925
2,11,11,de la Porte de Québec / St-André,45.513294,-73.550578
3,15,8,St-Denis / de Maisonneuve,45.514339,-73.561685
4,19,2,Métro Sherbrooke (de Rigaud / Berri),45.518143,-73.568004
...,...,...,...,...,...
174,850,2,de Chambly / de Rouen,45.547103,-73.548924
175,873,16,Robert-Bourassa / René-Lévesque,45.502183,-73.568254
176,886,8,Molson / Wiliam-Tremblay,45.541603,-73.564961
177,888,13,Complexe Desjardins (St-Urbain / René-Lévesque),45.507885,-73.563151
178,933,0,8178,0.000000,0.000000

In [39]:
complete_citybikes_df = complete_citybikes_df.rename(columns={'lat': 'Latitude', 'lon': 'Longitude'})

## Adding GeoHashes

In [40]:
import geohash

# Function to generate geohash
def compute_geohash(row, precision=5):
    return geohash.encode(row['Latitude'], row['Longitude'], precision=precision)

In [43]:
# Apply the function to each row in the DataFrame
complete_citybikes_df['Geohash'] = complete_citybikes_df.apply(compute_geohash, axis=1)

In [44]:
complete_citybikes_df

,station_id,num_bikes_available,name,Latitude,Longitude,Geohash
0,1,12,Métro Champ-de-Mars (Viger / Sanguinet),45.510253,-73.556777,f25dy
1,3,5,Clark / Ontario,45.510599,-73.566925,f25dv
2,11,11,de la Porte de Québec / St-André,45.513294,-73.550578,f25dy
3,15,8,St-Denis / de Maisonneuve,45.514339,-73.561685,f25dy
4,19,2,Métro Sherbrooke (de Rigaud / Berri),45.518143,-73.568004,f25dv
...,...,...,...,...,...,...
174,850,2,de Chambly / de Rouen,45.547103,-73.548924,f25en
175,873,16,Robert-Bourassa / René-Lévesque,45.502183,-73.568254,f25dv
176,886,8,Molson / Wiliam-Tremblay,45.541603,-73.564961,f25ej
177,888,13,Complexe Desjardins (St-Urbain / René-Lévesque),45.507885,-73.563151,f25dy
178,933,0,8178,0.000000,0.000000,s0000

In [46]:
unique_geohashes = complete_citybikes_df['Geohash'].nunique()
unique_geohashes

9

In [47]:
#Change working directory

In [50]:
# Save to CSV
complete_citybikes_df.to_csv('complete_citybikes_df.csv', index=False)